# Dependencias
node_modules/

# Build
dist/
dist-ssr/
.vite/
*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variables de entorno
.env
.env.*
!.env.example

# Editores
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema operativo
.DS_Store
Thumbs.db
Desktop.ini

# ROMs de juegos (tienen derechos de autor, no se suben al repositorio)
*.nes
*.rom
*.unf
*.unif
*.zip
*.7z